/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
:root {
  --background-fluid: #ecf5fb;
  --font: "Raleway", sans-serif;
  --title-font: "Exo", sans-serif;
  --title-color: #010f30;
  --secondary-color: #37afe3;
  --red-color: #37afe3;
  --red-color-sub: #010f30;
  --white-color: #ffffff;
  --button-send: #02912d;
}

:root {
  --theme-color: #0f6bac;
  --title-color: #010f30;
  --font-size-991px: 30px;
  --font-size-768px: 28px;
  --font-size-550px: 25px;
  --font-size-400px: 20px;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

a {
  color: var(--title-color);
  text-decoration: none;
}

a:hover {
  color: var(--title-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
}

.sec-title {
  padding: 0;
  font-size: 14px;
  margin-bottom: 0;
  line-height: 28px;
  font-weight: 400;
  font-family: var(--title-font);
  text-transform: uppercase;
  letter-spacing: 0.45px;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 25px 0px 25px 0px;
  margin: 40px 0px 40px 0px;
}

.section-bg,
.services .icon-box {
  background-color: #f8f9fa;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

.section-title {
  text-align: center;
  margin-bottom: 20px;
}

.section-title h2 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 15px;
  padding-bottom: 0;
  color: #151515;
  font-family: var(--title-font);
  text-transform: capitalize;
}

@media (max-width: 1400px) {
  section {
    padding: 20px 0;
  }
}

@media (max-width: 992px) {
  .section-title h2 {
    font-size: var(--font-size-991px);
  }
}

@media (max-width: 768px) {
  .section-title h2 {
    font-size: var(--font-size-768px);
    margin-bottom: 20px;
  }

  section {
    padding: 20px 0;
  }
}

@media (max-width: 550px) {
  .section-title h2 {
    font-size: var(--font-size-550px);
    margin-bottom: 10px;
    margin-top: 60px;
  }

  .section {
    padding: 0;
  }
}

@media (max-width: 400px) {
  .section-title h2 {
    font-size: var(--font-size-400px);
    margin: 10px 0;
    padding: 0;
  }

  .section-title {
    padding: 0;
  }

  section {
    padding: 0;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  width: 100%;
  background: white;
  transition: all 0.5s;
  padding: 20px 0;
}

#header.header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 12px 0;
}

#header.header-inner-pages {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo {
  font-size: 40px;
  margin-right: 25px;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

#header .logo a {
  color: var(--red-color);
}

@media (max-width: 992px) {
  #header {
    padding: 12px 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul {
  display: flex;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
  padding: 12px 0 12px 28px;
  text-transform: uppercase;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #556270;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
  color: var(--red-color);
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 15px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #556270;
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active>a,
.nav-menu .drop-down ul li:hover>a {
  color: var(--red-color);
}

.nav-menu .drop-down>a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down>a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down>a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }

  .nav-menu .drop-down .drop-down:hover>ul {
    left: -100%;
  }

  .nav-menu .drop-down .drop-down>a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #556270;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #556270;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover,
.mobile-nav .active>a,
.mobile-nav li:hover>a {
  color: var(--red-color);
  text-decoration: none;
}

.mobile-nav .drop-down>a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down>a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down>a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(63, 73, 83, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 90vh;
  background-color: rgba(59, 59, 59, 0.8);
  overflow: hidden;
  padding: 0;
  margin-bottom: -120px;
  position: relative;
  z-index: 1;
}

#hero .carousel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center center;
}

#hero .carousel-item::before {
  content: "";
  background-color: rgba(183, 164, 164, 0.215);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .carousel-content {
  text-align: center;
}

#hero h2 {
  color: #2e2e2e;
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: 700;
  font-family: var(--title-font);
}

#hero h2 span {
  color: var(--red-color);
  font-family: var(--title-font);
}

#hero p {
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: arken(#545454, 15);
  font-size: 25px;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-left,
#hero .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev,
#hero .carousel-control-next {
  width: 10%;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
  color: #545454;
}

#hero .carousel-indicators li {
  cursor: pointer;
  background: var(--red-color);
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  margin-bottom: 180px;
  opacity: 0.2;
}

#hero .carousel-indicators li.active {
  opacity: 1;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid var(--red-color);
  background: var(--red-color);
}

#hero .btn-get-started:hover {
  background: transparent;
  color: var(--red-color);
  text-decoration: none;
}

@media (max-height: 768px),
(max-width: 1200px) {
  #hero {
    margin-bottom: 60px;
  }

  #hero .carousel-container {
    padding-bottom: 0;
  }

  #hero .carousel-indicators li {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 90vh;
  }

  #hero .carousel-item {
    height: 90vh;
  }
}

@media (min-width: 1024px) {
  #hero p {
    width: 50%;
  }

  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}

/*--------------------------------------------------------------
# Featured
--------------------------------------------------------------*/
.featured {
  position: relative;
  z-index: 2;
}

.featured .icon-box {
  padding: 20px 30px;
  border-radius: 10px;
  background: transparent;
  transition: all ease-in-out 0.3s;
}

.featured .icon-box img {
  width: 290px;
  height: 290px;
  border-radius: 100%;
  margin-bottom: 20px;
}

.featured .icon-box h3 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 20px;
  text-align: center;
}

.featured .icon-box h3 a {
  text-align: center;
}

.featured .icon-box p {
  color: #0f0c0c;
  line-height: 24px;
  font-size: 18px;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about {
  background-color: var(--background-fluid);
}

.general {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.general-about {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sec-subtitle {
  display: block;
  font-size: 25px;
  font-weight: 600;
  line-height: 22px;
  color: var(--red-color);
  text-transform: capitalize;
  letter-spacing: normal;
  font-family: var(--title-font);
  margin-bottom: 10px;
}

.about .content h3 {
  color: var(--title-color);
  padding-bottom: 10px;
  font-family: var(--title-font);
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 30px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: var(--red-color);
}

.about .content p {
  margin-bottom: 30px;
}

.about .container-image {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 70vh;
}

.content-image {
  margin: auto;
  overflow: hidden;
}

.about .img-up {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 400px;
  transition: all 3s;
  z-index: 1;
}

.img-up:hover {
  transform: scale(1.1);
}

.img-down:hover {
  transform: scale(1.1);
}

.about .img-down {
  position: absolute;
  height: 400px;
  width: 387px;
  bottom: 0;
  right: 0;
  transition: all 3s;
}

.box-text {
  padding: 40px 30px;
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 991;
  background-color: var(--red-color);
  border-radius: 10px;
}

@media (min-width: 1700px) {
  .box-text {
    margin-right: 0px;
  }
}

.box-text-2 {
  padding: 40px 20px;
  position: absolute;
  bottom: 50px;
  left: 0;
  z-index: 991;
  background-color: var(--red-color);
  border-radius: 10px;
}

.title {
  font-family: var(--title-font);
  text-align: center;
  font-size: 34px;
  color: #ffffff;
}

.box-text,
.box-text-2 p {
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  font-family: var(--title-font);
}

@media (max-width: 992px) {
  .box-text {
    padding: 15px 10px;
  }

  .title {
    font-size: 22px;
  }

  .about .content p {
    font-size: 18px;
    margin-bottom: 0;
  }

  .box-text-2 {
    padding: 15px 10px;
  }
}

/*--------------------------------------------------------------
# Notices
--------------------------------------------------------------*/

.notice {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.general-blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.general-blog .notice a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--title-font);
}

.entry {
  height: 530px;
  padding: 10px;
  margin-bottom: 60px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.entry .entry-img img {
  min-height: 255px;
}

.entry .entry-img {
  max-height: 255px;
  margin: 0;
  overflow: hidden;
}

.general-blog .notice a :hover img {
  transform: scale(1.1);
  -webkit-transition: 0.5s transform ease;
}

.entry .entry-title {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  padding: 0;
  margin: 20px 0 20px 0;
}

.entry .entry-title {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.entry .entry-title a:hover {
  color: var(--buttons-color);
  text-decoration: none;
}

.entry .entry-content p {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.entry .entry-meta {
  margin-bottom: 15px;
  color: #0880e8;
}

.entry .entry-meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.entry .entry-meta ul li+li {
  padding-left: 20px;
}

.entry .entry-meta i {
  font-size: 14px;
  padding-right: 4px;
}

.entry .entry-content p {
  line-height: 24px;
  font-size: 16px;
}

.entry .entry-content h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}

@media (max-width: 991px) {
  .notice {
    display: flex;
    justify-content: center;
  }

  .entry .entry-title {
    font-size: 20px;
  }

  .entry .entry-meta {
    align-content: center;
    text-align: center;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding-top: 95px;
}

.footer-main::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.92);
  display: inline-block;
}

.ftr-widget,
.ftr-widget p a {
  color: #969595;
}

.ftr-widget .widget-title {
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 1.7px;
  margin-top: 0;
  margin-bottom: 15px;
}

.ftr-widget .widget-title span,
.ftr-widget p a,
.ftr-widget p span {
  font-family: var(--title-font);
  display: block;
}

.ftr-widget .widget-title i {
  height: 30px;
  display: inline-block;
}

.ftr-widget .widget-title span {
  margin-top: 23px;
}

.ftr-widget p {
  line-height: 28px;
  font-family: var(--title-font);
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.45px;
}

.ftr-widget p a {
  text-decoration: none;
}

.ftr-widget p a:hover {
  color: #fff;
}

.ftr-widget.about-widget,
.ftr-widget.newsleater-widget {
  padding-bottom: 55px;
  padding-top: 68px;
  margin-top: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.ftr-widget.about-widget {
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  padding-right: 25px;
  padding-left: 0;
}

.ftr-widget.about-widget p {
  margin-bottom: 0;
}

.ftr-widget.newsleater-widget .search-box .input-group .form-control {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  height: 40px;
  padding: 11px 18px;
  width: 98%;
}

.ftr-widget.newsleater-widget .search-box .input-group .btn-default {
  background-color: #1f8bf3;
  color: #fff;
  border-radius: 0;
  padding: 9px 14px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Roboto";
}

.ftr-widget.newsleater-widget .search-box .input-group .btn-default:hover {
  background-color: #fff;
  color: #1f8bf3;
}

.ftr-widget .search-box .input-group .form-control::-webkit-input-placeholder {
  color: #909090;
}

.ftr-widget .search-box .input-group .form-control:-moz-placeholder {
  color: #909090;
}

.ftr-widget .search-box .input-group .form-control::-moz-placeholder {
  color: #909090;
}

.ftr-widget .search-box .input-group .form-control:-ms-input-placeholder {
  color: #909090;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding: 34px 0;
}

.footer-bottom .copyright p {
  color: #909090;
  font-size: 15px;
}

.footer-bottom ul {
  text-align: right;
  margin-bottom: 0;
  padding-left: 0;
}

.footer-bottom ul li {
  margin-left: 2px;
}

.footer-bottom ul li,
.footer-bottom ul li a {
  display: inline-block;
}

.footer-bottom ul li a {
  width: 35px;
  height: 35px;
  text-align: center;
  background-color: #393939;
  line-height: 35px;
  color: #909090;
}

.footer-bottom ul li a:hover {
  color: #393939;
  background-color: #909090;
}

/*-------------------  Service  -------------------*/
.service-style1 {
  background-color: var(--white-color);
  text-align: center;
  padding-bottom: 22px;
  margin-bottom: 10px;
  transition: all 0.5s ease;
  border-radius: 10px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.05);
}

.service-style1 .service-img {
  overflow: hidden;
  border-radius: 10px;
}

.service-style1 .service-img img {
  transform: scale(1);
  border-radius: 10px;
  width: 100%;
  transition: all 0.5s ease;
}

.service-style1 .service-icon {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: var(--white-color);
  border-radius: 50%;
  position: relative;
  z-index: 1;
  margin: -70px auto 15px auto;
  box-shadow: 0.5px 0.87px 27px rgba(35, 31, 32, 0.04);
  transform: scaleX(1);
  transition: all 0.5s ease;
}

.service-style1 .service-title {
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 10px;
}

.service-style1 .service-text {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  font-family: var(--title-font);
  line-height: 24px;
  padding: 0 30px;
  margin-bottom: 14px;
  transition: all 0.5s ease;
}

.service-style1:hover {
  background-color: var(--theme-color);
}

.service-style1:hover .service-title {
  color: var(--white-color);
}

.service-style1:hover .service-title a:hover {
  color: #dddddd;
}

.service-style1:hover .service-text {
  color: var(--white-color);
}

.service-style1:hover .service-icon {
  transform: scaleX(-1);
  background-color: var(--theme-color);
}

.service-style1:hover .service-icon img {
  filter: brightness(0) invert(1);
}

.service-style1:hover .link-btn a {
  color: var(--white-color);
}

.service-style1:hover .link-btn a:hover {
  color: #dddddd;
}

.service-style1:hover .service-img img {
  transform: scale(1.1);
}

.service-shape {
  top: -5%;
  right: 0%;
}

.service-style2 {
  background-color: var(--white-color);
  text-align: center;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.0509803922);
  padding-bottom: 22px;
  border-radius: 10px;
  position: relative;
  height: 352px;
  overflow: hidden;
  transition: all 0.5s ease;
}

.service-style2.bg-style1 {
  background-color: var(--smoke-color);
}

.service-style2 .service-inner {
  transform: all 0.5s ease;
}

.service-style2 .service-img {
  overflow: hidden;
  border-radius: 10px;
  display: block;
  transform: all 0.5s ease;
}

.service-style2 .service-img img {
  transform: scale(1);
  border-radius: 10px;
  width: 100%;
  transition: all 0.5s ease;
}

.service-style2 .service-icon {
  width: 110px;
  height: 110px;
  line-height: 85px;
  text-align: center;
  background-color: var(--white-color);
  border-radius: 50%;
  position: relative;
  z-index: 1;
  margin: -70px auto 38px auto;
  box-shadow: 0.5px 0.87px 27px rgba(35, 31, 32, 0.04);
  border: 10px solid var(--secondary-color);
  transition: all 0.5s ease;
}

.service-style2 .service-title {
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 10px;
  transition: all 0.5s ease;
}

.service-style2 .service-title a {
  color: var(--title-color);
}

.service-style2 .service-text {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  font-family: var(--title-font);
  line-height: 24px;
  padding: 0 30px;
  margin-bottom: 14px;
  display: none;
  transition: all 0.5s ease;
}

.service-style2 .link-btn {
  display: none;
}

.service-style2:hover {
  background-color: var(--theme-color);
  max-height: 352px;
}

.service-style2:hover .service-title a {
  color: var(--white-color);
}

.service-style2:hover .service-title a:hover {
  color: #dddddd;
}

.service-style2:hover .service-icon {
  margin: 0 auto;
  margin-bottom: 24px;
  line-height: 80px;
  border-color: var(--white-color);
  background-color: var(--theme-color);
}

.service-style2:hover .service-icon img {
  filter: brightness(0) invert(1);
}

.service-style2:hover .service-text {
  color: var(--white-color);
  display: block;
}

.service-style2:hover .link-btn {
  display: block;
}

.service-style2:hover .link-btn a {
  color: var(--white-color);
}

.service-style2:hover .link-btn a:hover {
  color: #dddddd;
}

.service-style2:hover .service-img {
  display: none;
}

.service-style2:hover .service-img img {
  transform: scale(1.1);
}

.service-style2:hover .service-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
}

.service .slick-track {
  padding-top: 12px;
}

.service .slick-slide:nth-child(odd) {
  margin-top: 30px;
}

.service_style3 {
  display: flex;
}

.service-img-1 {
  background-image: url("../img/lancha.jpeg");
  position: relative;
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.service-img-3 {
  background-image: url("../img/cab.jpeg");
  position: relative;
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.service-img-4 {
  background-image: url("../img/pesca.jpeg");
  position: relative;
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.service-img-5 {
  background-image: url("../img/gear3.jpg");
  position: relative;
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.service_style3 .service_img {
  min-height: 500px;
  position: relative;
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.service_style3 .service_img:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: linear-gradient(rgba(54, 72, 99, 0), rgb(54, 72, 99));
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.4s;
}

.service_style3 .service_content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: 0 0 60px 0;
  transition: all ease 0.4s;
  color: var(--white-color);
}

.service_style3 .service_title {
  color: var(--white-color);
  margin: 0 0 10px 0;
}

.service_style3 .service_title a {
  color: inherit;
}

.service_style3 .service_title a:hover {
  color: var(--secondary-color);
}

.service_style3 .service_text {
  color: #f9f7e6;
  font-size: 14px;
  line-height: 24px;
  max-width: 390px;
  margin: 0 auto 24px auto;
}

.service_style3 .vs-btn i {
  margin-left: 5px;
  font-size: 13px;
}

.service_style3 .vs-btn,
.service_style3 .service_text,
.service_style3 .service_title {
  transition: all ease 0.4s;
  opacity: 0;
  visibility: hidden;
  transform: translateY(60px);
}

.service_style3 .service_inner {
  flex: 1;
  transition: all ease 0.4s;
  position: relative;
  overflow: hidden;
}

.service_style3 .service_inner:hover {
  flex: 2.5;
}

.service_style3 .service_inner:hover .service_img:before {
  opacity: 0.8999999762;
  visibility: visible;
}

.service_style3 .service_inner:hover .vs-btn,
.service_style3 .service_inner:hover .service_text,
.service_style3 .service_inner:hover .service_title {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition-delay: 0.1s;
}

.service_style3 .service_inner:hover .service_text {
  transition-delay: 0.2s;
}

.service_style3 .service_inner:hover .vs-btn {
  transition-delay: 0.3s;
}

/* Large devices */
@media (max-width: 1199px) {
  .service_style3 .service_content {
    padding: 0 20px 30px 20px;
  }

  .service-style2 .service-icon {
    margin: -70px auto 30px auto;
  }
}

/* Medium devices */
@media (max-width: 991px) {
  .service_style3 {
    flex-direction: column;
    min-height: 700px;
  }

  .service_style3 .service_inner {
    display: flex;
  }

  .service_style3 .service_inner:hover {
    flex: 3.2;
  }

  .service_style3 .service_img {
    min-height: auto;
  }

  .service_style3 .service_img:before {
    background-image: none;
    background-color: var(--title-color);
  }

  .service .slick-slide:nth-child(odd) {
    margin-top: 0px;
  }

  .service-style2 .service-icon {
    margin: -70px auto 18px auto;
  }
}

/* Small devices */
@media (max-width: 767px) {
  .service-style2 {
    height: 390px;
  }

  .service-style2:hover {
    max-height: 390px;
  }
}

@media screen and (max-width: 374px) {
  .service-style2 {
    height: 330px;
  }
}

.whatsapp-icon {
  display: none;
  width: 80px;
  position: fixed;
  right: 20px;
  bottom: 30px;
  z-index: 1;
}

@media (max-width: 1024px) {
  .whatsapp-icon {
    width: 60px;
  }
}

@media screen and (min-width: 1px) and (max-width: 400px) {
  .whatsapp-icon {
    width: 50px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 1;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.general-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact .info-box {
  background-color: var(--white-color);
  color: #444444;
  text-align: center;
  box-shadow: 0 10px 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
}

.contact .info-box i {
  font-size: 32px;
  color: var(--red-color);
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #fef5f4;
}

.contact .info-box h3 {
  font-size: 20px;
  color: var(--title-color);
  margin: 10px 0;
  font-family: var(--title-font);
  text-transform: uppercase;
  font-weight: 700;
}

.contact .info-box p {
  padding: 0;
  font-size: 14px;
  margin-bottom: 0;
  line-height: 28px;
  font-weight: 400;
  font-family: var(--title-font);
  text-transform: uppercase;
  letter-spacing: 0.45px;
}

.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
  background-color: var(--white-color);
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  font-size: 14px;
}

.contact .php-email-form input::focus,
.contact .php-email-form textarea::focus {
  background-color: var(--red-color-sub);
}

.contact .php-email-form input,
textarea {
  padding: 20px 15px;
  font-size: 14px;
  margin-bottom: 0;
  line-height: 28px;
  font-weight: 400;
  font-family: var(--title-font);
  text-transform: uppercase;
  letter-spacing: 0.45px;
  width: 100%;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button {
  background: var(--red-color);
  border: 0;
  border-radius: 50px;
  transition: 0.4s;
  font-size: 15px;
  color: #ffffff;
  font-family: var(--title-font);
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  outline: none;
}

.contact .content-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact .text-center {
  background: var(--red-color);
  border: 0;
  border-radius: 50px;
  padding: 10px 24px;
  transition: 0.4s;
  font-size: 15px;
  color: #ffffff;
  font-family: var(--title-font);
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  outline: none;
}

.contact .php-email-form .text-center:hover button {
  background: var(--button-send);
}

.contact .php-email-form .text-center:hover {
  background: var(--button-send);
}

.contact .text-center .fa-whatsapp {
  font-size: 28px;
  margin-right: 8px;
  color: (var(--button-send));
}

/*--------------------------------------------------------------
# Packages
--------------------------------------------------------------*/
.pricing {
  background-color: var(--background-fluid);
  padding: 80px 0px;
}

.pricing .row {
  padding-top: 10px;
}

.pricing .box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  background: #fff;
  text-align: center;
  transition: 0.4s;
}

.pricing .container-package-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.pricing .content-package-image {
  width: 100px;
  height: 100px;
}

.pricing .content-package-image img {
  width: 80%;
}

.pricing h3 {
  font-weight: 300;
  font-size: 28px;
  font-family: var(--title-font);
  text-transform: uppercase;
  margin: 0 auto;
}

.pricing h4 {
  font-size: 46px;
  color: var(--red-color);
  font-weight: 400;
  font-family: var(--title-font);
  text-transform: uppercase;
}

.pricing h4 span {
  color: var(--red-color-sub);
  font-size: 18px;
  display: block;
  margin-top: 20px;
}

.pricing ul {
  padding: 0;
  list-style: none;
  color: #999;
  text-align: left;
  line-height: 20px;
}

.pricing ul li {
  padding-bottom: 12px;
  letter-spacing: 0.8px;
  font-family: var(--title-font);
}

.pricing ul i {
  color: var(--secondary-color);
  font-size: 25px;
  padding-right: 4px;
  transition: 0.5;
}

.pricing ul .na {
  color: #ccc;
}

.pricing ul .na i {
  color: #ccc;
}

.pricing ul .na span {
  text-decoration: line-through;
}

.pricing .buy-btn {
  background: var(--red-color);
  display: inline-block;
  padding: 8px 30px;
  border-radius: 20px;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  font-family: var(--title-font);
  transition: 0.5s;
}

.pricing .packages:hover {
  z-index: 1;
  margin: -30px -5px 0 -5px;
}

.pricing .packages:hover .bx-check {
  color: var(--button-send);
}

.pricing .packages .buy-btn {
  background: var(--red-color);
}

.pricing .buy-btn:hover {
  background: var(--button-send);
}

.pricing .packages:hover .buy-btn {
  background: var(--button-send);
}

@media (max-width: 992px) {
  .pricing .box {
    max-width: 60%;
    margin: 0 auto 30px auto;
  }

  .pricing {
    padding: 60px 0px;
  }
}

@media (max-width: 767px) {
  .pricing .box {
    max-width: 80%;
    margin: 0 auto 30px auto;
  }

  .pricing {
    padding: 30px 0px;
  }
}

@media (max-width: 420px) {
  .pricing .box {
    max-width: 100%;
    margin: 0 auto 30px auto;
  }

  .pricing {
    padding: 15px 0px;
  }
}